

body {
	 background: url("../img/museo2.jpg") no-repeat fixed center center; 
  
    background-size: cover;
	color: #000;
	font-family: 'Roboto', sans-serif;
}




/* creamos las columnas y filas del grid-container*/

.contenedor{
    
        display: grid;
        width: 100%;
        height: auto;
        grid-template-areas: "header header header header"
                             "nav nav nav nav"
                             "borde slider slider aside"
                             "borde slider slider aside"
                             "borde slider slider aside"
                             "footer footer footer footer ";
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr 1fr 1fr 1fr;
         
      }


.header{
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
       
    }

.titular{
        color: white;
        text-align: center;
        display: grid;
        
        justify-content: center; 
    
        align-items: flex-end;
    
    }



.nav{
   grid-area: nav;

    
}

.borde{
    grid-area: borde;
}

.slider{
    grid-area: slider;
}

.aside{
    grid-area: aside;
}

.footer{
    
    grid-area: footer;
    background-color: orangered;
}


body{
    background-color: #e7e6e6;
}


/* barra de navegacion */
