

/* creamos las columnas y filas del grid-container*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100%;
}

.header{
    grid-column: 1 / 13;
    grid-row: 1 / 3;

    background-color: greenyellow;
}

.nav{
    grid-column: 1 / 13;
    grid-row: 3 / 4;

    background-color: mediumaquamarine;

}

.conten{
    grid-column: 1 / 13;
    grid-row: 4 / 8;

    background-color: fuchsia ;
}


.footer{
    grid-column: 1 / 13;
    grid-row: 8 / 9;

    background-color: orangered;
}


body {
    background-image: url("Images\museo2.jpg");
  }


/* barra de navegacion */

.nav-boton{
    display: inline-block;
    background: rgb(0, 0, 0);
    color: rgb(180, 20, 20);
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid #fff;

    
    }