

body {
	 background: url("../img/museo2.jpg") no-repeat fixed center center; 
  
    background-size: cover;
	color: #000;
	font-family: 'Roboto', sans-serif;
}




/* creamos las columnas y filas del grid-container*/

.contenedor{
    
        display: grid;
        width: 100%;
        height: auto;
        grid-template-areas: "header header header header"
                             "nav nav nav nav"
                             "borde slider slider aside"
                             "footer footer footer footer ";
       
        grid-template-rows:150px 70px 60% 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 20px;
         
      }


.header{
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
       
    }

.titular{
        color: white;
        text-align: center;
        display: grid;
        
        justify-content: center; 
    
        align-items: flex-end;
    
    }






/** Barra de navegacion estilos  --------------  */

.nav{
  grid-area: nav;
    
  
  display: flex;
  justify-content: space-between;
  
  
  
}


.nav-logo{
  display: inline-block; 
  background: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  border-radius: 9px;
  text-transform: uppercase;
  width: max-content;
  line-height: 45px;
  padding: 0 10%;
  display: none;
 
  
  }

.nav-enlace{
    display: inline-block; 
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 9px;
    text-transform: uppercase;
    width: max-content;
    line-height: 45px;
    
    padding: 10px 3%;
    margin: 3px 0% 0 0% ;
   
    

   
  }
  
  .nav-enlace:hover{
    transition: background 0.3s ease;
    background:rgb(226, 226, 224);
    cursor: pointer;
  }
  
  
  
  
  


.borde{
    grid-area: borde;
}

/* Determina el area que ocupa el slider */
.slider{
    grid-area: slider;
    max-width: 100%;
    height: auto;

    display: flex; 
    
    justify-content: center;
    align-items: center;
    
}

.slider-item{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 70%;
    /* margin:10px  auto; */

    /* prueba */
    
    border-radius: 4px;
    box-shadow: 0px 0px 25px 5px rgba(168,168,168,1);
}

.aside{
    grid-area: aside;
}



/* #################### prueba1 */
.footer {
    grid-area: footer;
    background:rgba(0, 0, 0, 0.6) ;
    width: 100%;
    
    
    color: rgb(255, 255, 255);
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
  
  .footer p {
    margin: 0;
  }
  
  
  .footer a{ text-decoration: none; color: #fff;
             padding: 0 0;
             }
                
   
    
    
.footer a:hover{
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      box-shadow: 0px 0px 28px 10px rgba(192, 190, 190, 0.48)
    
  
     }

body{
    background-color: #e7e6e6;
}


/* punto de corte 932px  ##############################################################################*/
@media (max-width :932px) {

    .contenedor{

      
      grid-template-areas: "header header header header"
                            "nav nav nav nav"
                            "extension slider slider aside"
                            "footer footer footer footer ";
      
    }

    .nav {
      
      flex-direction: column;
      /* display: inline-flex; */
    }
   
    .nav-enlace{
      padding: 10px 3%;
      background: rgba(0, 0, 0, 0.5);
      margin: 10px 0;
      min-width: 189px;
    }

    
    .nav-logo i {
      display: none;
    }
    
    .nav-logo{
      padding: 0 10%;
      display:inline-block;    
    }
  
    .nav-logo:hover{
      transition: background 0.3s ease;
      background:rgb(192, 192, 190);
      cursor: pointer;
    }
    
    .desaparece{
      display: none;
    }

  }

    /* punto de corte 768px  ############################################################################*/
@media (max-width :768px) { 

  .nav-logo{
    padding: 0 8%;
  }
   
  .nav-enlace{
    padding: 10px 0%;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    font-size: small;
    min-width: 155px;
  }
 
  
  .slider-item{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-height: 80%;
    
    margin:10px  auto;

    /* prueba */
    
    border-radius: 4px;
    box-shadow: 0px 0px 25px 5px rgba(168,168,168,1);
}
}


/* punto de corte 576px  */
@media (max-width :576px) {

  .contenedor{
    grid-template-rows:150px auto 60% 100px;
  }

  .nav-enlace{
    padding: 0px 3%;
    
    margin: 4px 0;
  }
  .nav-logo{
    padding: 0 6%;
    display: inline;
  }

 .nav-logo i{
  display: inline;
 }

 .nav-logo span{
  display: none;
 }

 .slider{
  height: fit-content;
 }

  .slider-item{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    
    margin:10px  auto;

    /* prueba */
    
    border-radius: 4px;
    box-shadow: 0px 0px 25px 5px rgba(168,168,168,1);
}
  

}


